.container{
    display: flex;
    flex-direction:column;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */          /* Pour occuper toute la hauteur de l'écran */
}
h2{
    font-family: 'Inter', sans-serif;
    font-size:24px;
}
.delete_link{
    padding:10px;
    margin:5px;
    background-color:#003CA2;
    color:white;
    border-radius:5px;
    font-family: 'Inter', sans-serif;
    font-size:20px;
    text-decoration:none;
}
.btn{
    border:none;
    padding:10px;
    margin:5px;
    background-color:#FF3535;
    color:white;
    border-radius:5px;
    font-family: 'Inter', sans-serif;
    font-size:20px;
    text-decoration:none;
}
.span{
    color:#FF9335;
    text-decoration:underline;
}