{% load static %}
{% include 'header.html'%}
  <section class="section_body">
    <div data-w-id="ef5b070b-bd4f-da03-d22f-31f830929dc2" style="opacity:0" class="w-layout-blockcontainer body_container w-container">
      <div class="w-layout-vflex vertical_flex_1">
        <h1 class="heading-17">Nous suivre</h1>
        <div class="text-block-18">Pour ne rien rater de l&#x27;actualité</div>
        <div class="text-block-17">Rejoignez notre canal Telegram.</div>
        <a href="http://www.telegram.fr" class="button-21 w-button">Telegram<img src="https://uploads-ssl.webflow.com/66620a8c57dbc898722c21e3/66871e473e9d65740d2efbb0_telegram_1720131132571-all-icons.svg" alt="Ikonik Icon" class="ikonik-gxn9s">‍</a>
        <div class="text-block-19">Retrouvez-nous également sur :</div>
        <div class="div-block">
          <a href="http://facebook.com" target="_blank" class="facebook w-inline-block"><img src="{% static 'images/facebook.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/facebook-p-500.png'%} 500w, {% static 'images/facebook.png'%} 512w" alt="facebook_link" class="image"></a>
          <a href="http://whatsapp.com" target="_blank" class="whatsapp w-inline-block"><img src="{% static 'images/whatsapp.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/whatsapp-p-500.png'%} 500w, {% static 'images/whatsapp.png'%} 512w" alt="whatsapp_link" class="image-2"></a>
          <a href="http://instagram.fr" target="_blank" class="instagram w-inline-block"><img src="{% static 'images/instagram.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/instagram-p-500.png'%} 500w, {% static 'images/instagram.png'%} 512w" alt="instagram_link" class="image-3"></a>
          <a href="http://twitter.com" target="_blank" class="twitter w-inline-block"><img src="{% static 'images/twitter.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/twitter-p-500.png'%} 500w, {% static 'images/twitter.png'%} 512w" alt="twitter_link" class="image-4"></a>
          <a href="http://linkedin.fr" target="_blank" class="linkedin w-inline-block"><img src="{% static 'images/linkedin.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/linkedin-p-500.png'%} 500w, {% static 'images/linkedin.png'%} 512w" alt="linkedin_link" class="image-6"></a>
          <a href="http://tiktok.com" target="_blank" class="tiktok w-inline-block"><img src="{% static 'images/tik-tok.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/tik-tok-p-500.png'%} 500w, {% static 'images/tik-tok.png'%} 512w" alt="tiktok_link" class="image-7"></a>
        </div>
      </div>
      <div class="w-layout-vflex vertical_flex_2">
        <div class="div-block-2"><img src="{% static 'images/Ellipse-1.png'%}" loading="lazy" alt="logo_du_site" class="image-9">
          <div class="div-block-3">
            <div class="text-block-29">AAPP-GUINÉE</div>
            <div class="text-block-30">@autoassumer.com</div>
          </div>
          <a href="http://www.twitter.com" target="_blank" class="link">suivre</a><img src="{% static 'images/twitter.png'%}" loading="lazy" sizes="(max-width: 479px) 20vw, 40px" srcset="{% static 'images/twitter-p-500.png'%} 500w, {% static 'images/twitter.png'%} 512w" alt="x_link" class="image-8">
        </div>
        <div class="div-block-12">
          <p class="paragraph">AAPP-GUINÉE se positionne en faveur de l&#x27;aide active pour les femmes, les vieux et les enfants les plus nécessiteux.</p>
          <div><span class="text-span"><code>👉</code></span>Être atteint d&#x27;une maladie grave nécessitant une prise en charge exceptionnelle.</div>
          <div><span class="text-span"><code>👉</code></span>Être atteint d&#x27;une maladie grave nécessitant une prise en charge exceptionnelle.</div>
          <div><span class="text-span"><code>👉</code></span>Être atteint d&#x27;une maladie grave nécessitant une prise en charge exceptionnelle.</div>
          <div><span class="text-span"><code>👉</code></span>Être atteint d&#x27;une maladie grave nécessitant une prise en charge exceptionnelle.</div>
          <div><span class="text-span"><code>👉</code></span>Être atteint d&#x27;une maladie grave remplacont celà par autre chose.</div>
          <div class="div-block-4">
            <div class="text-block-20">AAPP-GUINÉE.</div><img src="{% static 'images/mark.png'%}" loading="lazy" sizes="40px" srcset="{% static 'images/mark-p-500.png'%} 500w, {% static 'images/mark.png'%} 512w" alt="aconfirm_aide_img" class="image-11">
            <h2 class="heading-18">Aide active pour nos parents, enfants, et femmes qui sont les plus nécessiteux.</h2>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="d372cd19-df28-366b-ac48-194a82b1e203" style="opacity:0" class="w-layout-blockcontainer body_container2 w-container">
      <div class="w-layout-vflex flex-block-3">
        <h1 class="heading-24">Pourquoi rejoindre AAPPG ?</h1>
        <div class="w-layout-vflex flex-block-2">
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407">
              <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407 error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">S&#x27;engager</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">dans l&#x27;action pour faire partager des
                  convictions et des valeurs d&#x27;un mouvement juste, à
                  l&#x27;écoute de tous.</span></div>
            </div>
          </div>
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Participer</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">au processus démocratique de conception de nos idées, en étant réellement écouté.</span></div>
          </div>
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Agir</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">au sein d&#x27;une équipe engagée, sur le terrain ou les réseaux sociaux.</span></div>
          </div>
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Décider</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">qui nous représentera demain, responsables du Parti et candidats.</span></div>
          </div>
          <a href="{% url 'my_site:adherer'%}#adherant" class="button-25 w-button">JE SUIS UN ASSUMER J&#x27;ADHÈRE</a>
        </div>
      </div>
      <div class="div-block-20">
        <div class="w-layout-vflex flex-block-6">
          <a href="#" class="link-block-4 w-inline-block"><img src="{%static 'images/marketing.png' %}" loading="lazy" width="56" sizes="56px" alt="" srcset=" {% static 'images/marketing-p-500.png' %} 500w, {% static 'images/marketing.png' %} 512w" class="image-29">
            <div class="div-block-19">
              <h3 class="heading-33">1000 +</h3>
              <div class="text-block-36">Problèmes à résoudre</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/chair.png' %}" loading="lazy" alt="axe_de_travail" class="image-34">
            <div class="div-block-19">
              <h2 class="heading-33">3</h2>
              <div class="text-block-36">Principaux axe de travail</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/mental-health.png' %}" loading="lazy" width="60" height="60" alt="idea_to_make" srcset=" {% static 'images/mental-health-p-500.png' %} 500w, {% static 'images/mental-health.png'%} 512w" sizes="60px" class="image-33">
            <div class="div-block-19">
              <h3 class="heading-33">1.000.000</h3>
              <div class="text-block-36">D&#x27;idées à travailler</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/equal-rights.png' %}" loading="lazy" sizes="60px" srcset="{% static 'images/equal-rights-p-500.png' %} 500w, {% static 'images/equal-rights.png' %} 512w" alt="the_mouvement" class="image-32">
            <div class="div-block-19">
              <h3 class="heading-33">Le mouvement</h3>
              <div class="text-block-36">Redonner la joie à l&#x27;axe</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section data-w-id="ebe5afc1-5d56-6015-fa57-b050dd470861" style="opacity:0" class="section">
    <div class="w-layout-blockcontainer container-17 w-container">
      <a href="{% url 'my_site:valeurs'%}#valeurs" class="link-block w-inline-block"><img src="{% static 'images/Group-11.png'%}" loading="lazy" width="300" height="250" alt="fulani_valeurs" class="image-13">
        <div class="text-block-21">Nos valeurs.</div>
        <div class="text-block-22">Nos principes et nos valeurs.</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377322132-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-nwdztl">
          <div class="text-block-26">Les chartes du parti.</div>
        </div>
      </a>
      <a href="{% url 'my_site:chartes'%}#statuts" class="link-block w-inline-block"><img sizes="100vw" alt="happy birthday greeting card on brown wooden tableby Denise Jans" src=" {% static 'https://images.unsplash.com/photo-1606607941306-80adddeadd4d?ixid=M3w0ODMyOTN8MHwxfHNlYXJjaHwzOHx8dGV4dCUyMGJvb2t8ZW58MHx8fHwxNzIwMzc4MDI5fDA&amp;ixlib=rb-4.0.3&amp;fit=clamp&amp;auto=format&amp;w=600' %} " srcset="{% static 'https://images.unsplash.com/photo-1606607941306-80adddeadd4d?ixid=M3w0ODMyOTN8MHwxfHNlYXJjaHwzOHx8dGV4dCUyMGJvb2t8ZW58MHx8fHwxNzIwMzc4MDI5fDA&amp;ixlib=rb-4.0.3&amp;fit=clamp&amp;auto=format&amp;w=4000' %}" width="5184" height="3456" style="color: #262626; background-color: #262626" class="unsplash-image image-14">
        <div class="text-block-21">Chartes</div>
        <div class="text-block-22">Les chartes du parti AAPPG</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377411124-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-yobcz">
          <div class="text-block-27">Statuts</div>
        </div>
      </a>
      <a href="{% url 'my_site:reglement'%}#reglement" class="link-block w-inline-block"><img src="{% static 'images/Adlam_acronym.png' %}" loading="lazy" width="Auto" sizes="(max-width: 479px) 90vw, (max-width: 767px) 72vw, 25vw" alt="Adlam" srcset="{% static 'images/Adlam_acronym-p-500.png' %} 500w, {% static 'images/Adlam_acronym-p-800.png' %} 800w, {% static 'images/Adlam_acronym-p-1080.png' %} 1080w, {% static 'images/Adlam_acronym-p-1600.png' %} 1600w, {% static 'images/Adlam_acronym.png' %} 1841w" class="image-20">
        <div class="text-block-21">Règlement intérieur</div>
        <div class="text-block-22">Le règlement intérieur d&#x27;AAPPG</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377411124-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-xr649">
          <div class="text-block-28">Règlement intérieur</div>
        </div>
      </a>
    </div>
  </section>
 {% include 'footer.html'%}