{% load static %}
{% include 'header.html'%}
<style>
      .heading-24{
        text-align:left;
        font-size:22px;
        color:#244c8d;
      }
      .texte {
            overflow: hidden;
            transition: max-height 1s ease;
            max-height: 50px; /* Hauteur initiale pour les premiers mots */
        }
        .texte.expanded {
            max-height: 300px; /* Une grande hauteur pour le mode "expansé" */
        }
        .toggleText {
            font-size:12px;
            font-weight:500;
            background:#4563cf;
            color:white;
            margin-top: 10px;
            padding:5px;
            box-shadow:0px 0px 4px 1px grey;
            text-decoration:none;
            border-radius:4px;
        }
</style>
  <section class="section_body">
    <div data-w-id="ef5b070b-bd4f-da03-d22f-31f830929dc2" style="opacity:0" class="w-layout-blockcontainer body_container w-container">
      <div class="w-layout-vflex vertical_flex_1">
        <h1 class="heading-17">Nous suivre</h1>
        <div class="text-block-18">Pour ne rien rater de l&#x27;actualité</div>
        <div class="text-block-17">Rejoignez notre canal Telegram.</div>
        <a href="http://www.telegram.fr" class="button-21 w-button">Telegram<img src="https://uploads-ssl.webflow.com/66620a8c57dbc898722c21e3/66871e473e9d65740d2efbb0_telegram_1720131132571-all-icons.svg" alt="Ikonik Icon" class="ikonik-gxn9s">‍</a>
        <div class="text-block-19">Retrouvez-nous également sur :</div>
        <div class="div-block">
          <a href="http://facebook.com" target="_blank" class="facebook w-inline-block"><img src="{% static 'images/facebook.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/facebook-p-500.png'%} 500w, {% static 'images/facebook.png'%} 512w" alt="facebook_link" class="image"></a>
          <a href="http://whatsapp.com" target="_blank" class="whatsapp w-inline-block"><img src="{% static 'images/whatsapp.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/whatsapp-p-500.png'%} 500w, {% static 'images/whatsapp.png'%} 512w" alt="whatsapp_link" class="image-2"></a>
          <a href="http://instagram.fr" target="_blank" class="instagram w-inline-block"><img src="{% static 'images/instagram.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/instagram-p-500.png'%} 500w, {% static 'images/instagram.png'%} 512w" alt="instagram_link" class="image-3"></a>
          <a href="http://twitter.com" target="_blank" class="twitter w-inline-block"><img src="{% static 'images/twitter.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/twitter-p-500.png'%} 500w, {% static 'images/twitter.png'%} 512w" alt="twitter_link" class="image-4"></a>
          <a href="http://linkedin.fr" target="_blank" class="linkedin w-inline-block"><img src="{% static 'images/linkedin.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/linkedin-p-500.png'%} 500w, {% static 'images/linkedin.png'%} 512w" alt="linkedin_link" class="image-6"></a>
          <a href="http://tiktok.com" target="_blank" class="tiktok w-inline-block"><img src="{% static 'images/tik-tok.png'%}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 5vw, 3vw" srcset="{% static 'images/tik-tok-p-500.png'%} 500w, {% static 'images/tik-tok.png'%} 512w" alt="tiktok_link" class="image-7"></a>
        </div>
      </div>
      <div class="w-layout-vflex vertical_flex_2">
        <div class="div-block-2"><img src="{% static 'images/Ellipse-1.png'%}" loading="lazy" alt="logo_du_site" class="image-9">
          <div class="div-block-3">
            <div class="text-block-29">AAPP-GUINÉE</div>
            <div class="text-block-30">@autoassumer.com</div>
          </div>
          <a href="http://www.twitter.com" target="_blank" class="link">suivre</a><img src="{% static 'images/twitter.png'%}" loading="lazy" sizes="(max-width: 479px) 20vw, 40px" srcset="{% static 'images/twitter-p-500.png'%} 500w, {% static 'images/twitter.png'%} 512w" alt="x_link" class="image-8">
        </div>
        <div class="div-block-12">
          <h3 class="subheading">NOS VALEURS À L’AUTO-ASSUMATION POUR LA PAIX EN GUINÉE.</h3>
            <p class="paragraph">
          Dans un pays où les droits fondamentaux des citoyens sont bafoués, où leurs dignités et
          intégrités sont confisquées, nous, membres de l’organisation, décidons de nous lever
          contre toute injustice commise contre n’importe quel être humain. Nous croyons aux
          valeurs et principes universels : « tous les humains naissent libres et égaux ». Partant
          de ce principe sacrosaint, nous nous lèverons et combattrons toute sorte d’injustice vis-
          à-vis des peuples. Nous tenons pour évidence qu’aucune nation sur terre, petite ou
          grande, n’a le monopole du savoir-faire et du savoir-être.
          Nous croyons au sens de l’honneur que nous avons hérité de nos ancêtres. Nous
          croyons que la diversité culturelle et cultuelle de notre pays constitue une véritable
          richesse, un socle sur lequel repose le vivre-ensemble. L’intégrité, l’égalité et la
          solidarité sont les valeurs qui nous caractérisent. Nous nous engageons à promouvoir la
          paix, l’entraide, la transparence et la solidarité entre toutes les filles et tous les fils de la
          Guinée. Nous lutterons contre toutes formes de corruption, d’impunité, de discrimination
          et de lourdeur administrative.
        </p>
          <div class="accordion">
            <div class="accordion-item">
              <button class="accordion-button">Responsabilité individuelle et collective :</button>
              <div class="accordion-content">
                <p>Chaque citoyen doit prendre conscience de son rôle dans la société et agir de manière responsable pour le bien commun.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Respect mutuel :</button>
              <div class="accordion-content">
                <p>Encourager le respect des différences et promouvoir une culture de tolérance et de compréhension mutuelle.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Dialogue et réconciliation : </button>
              <div class="accordion-content">
                <p>Favoriser le dialogue entre les différentes communautés pour résoudre les conflits de manière pacifique et constructive.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Éducation et sensibilisation :</button>
              <div class="accordion-content">
                <p>Investir dans l’éducation pour inculquer les valeurs de paix, de justice et de respect des droits humains dès le plus jeune âge.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Participation citoyenne :</button>
              <div class="accordion-content">
                <p>Encourager la participation active des citoyens dans les processus décisionnels pour renforcer la démocratie et la gouvernance.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Justice sociale :</button>
              <div class="accordion-content">
                <p>Œuvrer pour une répartition équitable des ressources et des opportunités afin de réduire les inégalités et les tensions sociales.</p>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Développement durable :</button>
              <div class="accordion-content">
                <p>Promouvoir des pratiques de développement qui respectent l’environnement et les ressources naturelles pour les générations futures.
                  En intégrant ces valeurs, nous croyons fermement que nous pouvons construire une Guinée plus juste, plus solidaire et en paix.</p>
              </div>
            </div>
        </div>
          <div class="div-block-4">
            <div class="text-block-20">AAPP-GUINÉE.</div><img src="{% static 'images/mark.png'%}" loading="lazy" sizes="40px" srcset="{% static 'images/mark-p-500.png'%} 500w, {% static 'images/mark.png'%} 512w" alt="aconfirm_aide_img" class="image-11">
            <h2 class="heading-18">Aide active pour nos parents, enfants, et femmes qui sont les plus nécessiteux.</h2>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="d372cd19-df28-366b-ac48-194a82b1e203" style="opacity:0" class="w-layout-blockcontainer body_container2 w-container">
      <div class="w-layout-vflex flex-block-3">
        <h3 class="heading-24">Les trois mots que chaque être humain digne de lui, devrait porter dans son coeur</h3>
        <div class="w-layout-vflex flex-block-2">
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407">
              <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407 error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Unité</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">
                <p class="texte">
                    Forts de notre engagement militant pour la paix et l’unité de nos peuples,
                  nous croyons profondément que l’unité est l’élément fondamental sur lequel repose l’avenir de notre Nation.
                  Grâce à l’unité, nous pouvons améliorer les conditions de vie de millions de personnes dans un esprit de fraternité,
                  d’entraide et de solidarité.


                </p>
                <button class="toggleText">Lire la suite</button>
              </span></div>
            </div>
          </div>
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Dignité</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">
              <p class="texte">Conscients de nos origines, nous sommes fiers de nos ancêtres qui nous ont transmis des valeurs d’honnêteté,
                de justice et d’égalité. Nous regroupons toutes ces valeurs héritées de nos ancêtres sous un mot : la</p>
              <button class="toggleText">Lire la suite</button>
            </span></div>
          </div>
          <div class="frame-19">
            <div class="error-6f55734b-b5f4-7509-7824-b82c209e8407"><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-0">Fierté</span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-1"> </span><span class="sengager-dans-laction-pour-faire-partager-des-convictions-et-des-valeurs-dun-parti-juste-l-coute-de-tous-2">
              <p class="texte">Nous estimons qu’un être humain doté de dignité peut inspirer des millions d’autres sur le chemin de la rédemption.</p>
              <button class="toggleText">Lire la suite</button>
            </span></div>
          </div>

          <a href="{% url 'my_site:adherer'%}#adherant" class="button-25 w-button">JE SUIS UN ASSUMER J&#x27;ADHÈRE</a>
        </div>
      </div>
      <div class="div-block-20">
        <div class="w-layout-vflex flex-block-6">
          <a href="#" class="link-block-4 w-inline-block"><img src="{%static 'images/marketing.png' %}" loading="lazy" width="56" sizes="56px" alt="" srcset=" {% static 'images/marketing-p-500.png' %} 500w, {% static 'images/marketing.png' %} 512w" class="image-29">
            <div class="div-block-19">
              <h3 class="heading-33">1000 +</h3>
              <div class="text-block-36">Problèmes à résoudre</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/chair.png' %}" loading="lazy" alt="axe_de_travail" class="image-34">
            <div class="div-block-19">
              <h2 class="heading-33">3</h2>
              <div class="text-block-36">Principaux axe de travail</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/mental-health.png' %}" loading="lazy" width="60" height="60" alt="idea_to_make" srcset=" {% static 'images/mental-health-p-500.png' %} 500w, {% static 'images/mental-health.png'%} 512w" sizes="60px" class="image-33">
            <div class="div-block-19">
              <h3 class="heading-33">1.000.000</h3>
              <div class="text-block-36">D&#x27;idées à travailler</div>
            </div>
          </a>
          <a href="#" class="link-block-4 w-inline-block"><img src="{% static 'images/equal-rights.png' %}" loading="lazy" sizes="60px" srcset="{% static 'images/equal-rights-p-500.png' %} 500w, {% static 'images/equal-rights.png' %} 512w" alt="the_mouvement" class="image-32">
            <div class="div-block-19">
              <h3 class="heading-33">Le mouvement</h3>
              <div class="text-block-36">Redonner la joie à l&#x27;axe</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section data-w-id="ebe5afc1-5d56-6015-fa57-b050dd470861" style="opacity:0" class="section">
    <div class="w-layout-blockcontainer container-17 w-container">
      <a href="{% url 'my_site:valeurs'%}#valeurs" class="link-block w-inline-block"><img src="{% static 'images/Group-11.png'%}" loading="lazy" width="300" height="250" alt="fulani_valeurs" class="image-13">
        <div class="text-block-21">Nos valeurs.</div>
        <div class="text-block-22">Nos principes et nos valeurs.</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377322132-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-nwdztl">
          <div class="text-block-26">Les chartes du parti.</div>
        </div>
      </a>
      <a href="{% url 'my_site:chartes'%}#statuts" class="link-block w-inline-block"><img sizes="100vw" alt="happy birthday greeting card on brown wooden tableby Denise Jans" src=" {% static 'https://images.unsplash.com/photo-1606607941306-80adddeadd4d?ixid=M3w0ODMyOTN8MHwxfHNlYXJjaHwzOHx8dGV4dCUyMGJvb2t8ZW58MHx8fHwxNzIwMzc4MDI5fDA&amp;ixlib=rb-4.0.3&amp;fit=clamp&amp;auto=format&amp;w=600' %} " srcset="{% static 'https://images.unsplash.com/photo-1606607941306-80adddeadd4d?ixid=M3w0ODMyOTN8MHwxfHNlYXJjaHwzOHx8dGV4dCUyMGJvb2t8ZW58MHx8fHwxNzIwMzc4MDI5fDA&amp;ixlib=rb-4.0.3&amp;fit=clamp&amp;auto=format&amp;w=4000' %}" width="5184" height="3456" style="color: #262626; background-color: #262626" class="unsplash-image image-14">
        <div class="text-block-21">Chartes</div>
        <div class="text-block-22">Les chartes du parti AAPPG</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377411124-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-yobcz">
          <div class="text-block-27">Statuts</div>
        </div>
      </a>
      <a href="{% url 'my_site:reglement'%}#reglement" class="link-block w-inline-block"><img src="{% static 'images/Adlam_acronym.png' %}" loading="lazy" width="Auto" sizes="(max-width: 479px) 90vw, (max-width: 767px) 72vw, 25vw" alt="Adlam" srcset="{% static 'images/Adlam_acronym-p-500.png' %} 500w, {% static 'images/Adlam_acronym-p-800.png' %} 800w, {% static 'images/Adlam_acronym-p-1080.png' %} 1080w, {% static 'images/Adlam_acronym-p-1600.png' %} 1600w, {% static 'images/Adlam_acronym.png' %} 1841w" class="image-20">
        <div class="text-block-21">Règlement intérieur</div>
        <div class="text-block-22">Le règlement intérieur d&#x27;AAPPG</div>
        <div class="div-block-6"><img src="{% static 'images/download_1720377411124-all-icons.svg' %}" alt="Ikonik Icon" class="ikonik-xr649">
          <div class="text-block-28">Règlement intérieur</div>
        </div>
      </a>
    </div>
  </section>
<!-- Inclure le js qui anime la liste qui deployable et repliable -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const accordionButtons = document.querySelectorAll('.accordion-button');

    accordionButtons.forEach(button => {
        button.addEventListener('click', function() {
            const isActive = this.classList.contains('active');

            accordionButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.nextElementSibling.style.display = 'none';
            });

            if (!isActive) {
                this.classList.add('active');
                this.nextElementSibling.style.display = 'block';
            }
        });
    });
});

  //script lire la suite

   function toggleText(event) {
            const button = event.target; // Récupérer le bouton cliqué
            const paragraph = button.previousElementSibling; // Récupérer le paragraphe précédent le bouton

            if (!paragraph.classList.contains("expanded")) {
                // Montrer le texte complet
                paragraph.classList.add("expanded");
                paragraph.textContent = paragraph.getAttribute("data-fulltext");
                button.textContent = "Lire moins";
                console.log("Texte complet affiché");
            } else {
                // Raccourcir le texte
                paragraph.classList.remove("expanded");
                const text = paragraph.getAttribute("data-fulltext");
                const words = text.split(' ');
                const visibleText = words.slice(0, 10).join(' ') + '...';
                paragraph.textContent = visibleText;
                button.textContent = "Lire la suite";
                console.log("Texte raccourci");
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('.texte').forEach(paragraph => {
                paragraph.setAttribute("data-fulltext", paragraph.textContent.trim());
                paragraph.dataset.expanded = "false"; // Initialiser comme raccourci

                // Raccourcir le texte au chargement de la page
                const text = paragraph.getAttribute("data-fulltext");
                const words = text.split(' ');
                const visibleText = words.slice(0, 10).join(' ') + '...';
                paragraph.textContent = visibleText;
                console.log(paragraph);
            });

            // Ajouter un écouteur d'événements à chaque bouton avec la classe 'toggleText'
            document.querySelectorAll('.toggleText').forEach(button => {
                button.addEventListener('click', toggleText);
            });
        });

</script>
 {% include 'footer.html'%}