
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site admin </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Integration de la police de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- Integration du fichier CSS en local-->
    <link rel="stylesheet" href="{% static 'css/aappg_admin/inscription.css'%}">
</head>
<body>
     <section class="wrapp-section">
       <div class="container">
           <div class="uui-logo_component"><img src="{% static 'images/Ellipse-1.png'%}" loading="lazy" alt="aappg-logo"></div>
           <h1 class="header1">Bienvenue à la page d'inscription d'AAPPG</h1>
            <h4 class="header4">Vous êtes un membre de la coordination de l'AAPPG ? Veuillez remplir le formulaire
            pour accéder à l'administration du Site.</h4>


        <div class="container_form">
            <div class="error-message">
                {% if form.non_field_errors %}
                <ul>
                    <li>Veuillez corriger les erreurs du formulaire ci-dessous.</li>
                </ul>
                {% endif %}
            </div>

            <form method='POST' action="{% url 'my_site:admin-inscription' %}" id="email-form" name="email-form" data-name="Email Form" class="form" data-wf-page-id="66ad640bd6bbcd6403d43ac9" data-wf-element-id="1566d24a-14d0-168f-80b4-60786f2bcf97">

            {% csrf_token %}
            <div class="form-field-wrapper">
                <label class="field-label" for="name">Prénom & Nom <span class="required">*</span></label><br/>
                {{ form.user }}
                <p style="color:red;">{{ form.user.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                <label class="field-label" for="email">Email Address <span class="required">*</span></label><br/>
                {{ form.email }}
                <p style="color:red;">{{ form.email.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                <label class="field-label" for="password">Créer votre mot de passe <span class="required">*</span></label><br/>
                {{ form.password }}
                <p style="color:red;">{{ form.password.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                  <label for="confirm-pass" class="field-label">Confirmer le mot de passe<span class="required">*</span></label><br>
                  {{form.confirm_password}}
                 {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>

            <div class="form-field-wrapper">
                <label class="field-label" for="tel">Numéro de Téléphone<span class="required">*</span></label><br/>
                {{ form.telephone }}
                <p style="color:red;">{{ form.telephone.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                <label class="field-label" for="city">Votre ville de résidence actuelle<span class="required">*</span></label><br/>
                {{ form.city }}
                <p style="color:red;">{{ form.city.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                <label class="field-label" for="poste">(Optionnel)<br/> Donnez le titre que vous occupez au sain de l'AAPPG</label><br/>
                {{ form.poste }}
                <p style="color:red;">{{ form.poste.errors }}</p>
            </div>
            <div class="form-field-wrapper">
                <label class="field-label" for="submit">Confirmer l'envoie du formulaire</label><br><input type="submit" value="Envoyer" name="envoyer" class="envoyer" id="submit"/>
            </div>
         </div>
       </div>
    </section>

</body>
</html>